.form input[type=text]:focus {
  background-color: lightblue;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.form
 {
	 position: relative;
	 z-index: 1;
	 background: hsla(0, 100%, 50%, 0.3);

	 max-width: 360px;
	 margin: 0 auto 100px;
	 padding: 45px;
	 text-align: center;
 }

  .form input
  {
	  font-family: "Roboto", sans-serif;
	  outline: 1;
	  background: #f2f2f2;
	  width: 100%;
	  border: 0;
	  margin: 0 0 15px;
	  padding: 15px;
	  box-sizing: border-box;
	  font-size: 14px;
  }

  .form button
  {
	font-family: "Roboto" , sans-serif;
	  text-transform: uppercase;
	  outline: 0;
	  background: hsla(0, 100%, 30%, 0.3);
	  width: 100%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 14px;
	  cursor: pointer;
  }
